<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7b42ea26-00d9-4bc2-982a-a551dbd9c272/resourceGroups/MenuItem-rg/providers/Microsoft.ContainerRegistry/registries/menuitemacr</ResourceId>
    <ResourceName>menuitemacr</ResourceName>
    <ResourceGroup>MenuItem-rg</ResourceGroup>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <RegistryUrl>https://menuitemacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7952518f-c988-427a-ac63-c993376e0e07</ProjectGuid>
  </PropertyGroup>
</Project>